.property-card-icon {
    width: 2vw; 
    height: auto; 
    max-width: 50px; 
    min-width: 20px; 

    object-fit: contain; /* Ensure icons maintain aspect ratio */
}

.property-card-container {
    display: flex;
}

.property-card-icon-container {
    display: flex;
    flex-direction: column;
}

.property-card-details-button {
    background-color: #f0f0f0;
    border-radius: 5px;
    height: 45px;
    width: 95%;
    margin: 10px auto;
    background-color: #3b82f6;
    color: #fff;
}