.property-card-icon {
    width: 2vw; /* Width is 5% of the viewport width */
    height: auto; /* Maintain aspect ratio */
    max-width: 50px; /* Prevent icons from getting too big on large screens */
    min-width: 20px; /* Prevent icons from getting too small on small screens */

    object-fit: contain; /* Ensure icons maintain aspect ratio */
}

.property-card-container {
    display: flex;
}

.property-card-icon-container {
    display: flex;
    flex-direction: column;
}