.property-card-icon {
    width: 2vw; 
    height: auto; 
    max-width: 50px; 
    min-width: 20px; 

    object-fit: contain; /* Ensure icons maintain aspect ratio */
}

.property-card-container {
    display: flex;
}

.property-card-icon-container {
    display: flex;
    flex-direction: column;
}